@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Urbanist');

select, input[type="text"], select, textarea, input[type="number"] {
  @apply p-4;
  @apply block w-full tracking-wider text-sm rounded-md;
  @apply bg-inputbg;
  @apply text-inputfg;
}

td {
  @apply p-2;
}
div[class*="-singleValue"] {
  color: rgba(255,255,255,.6);
}
div[class*="-Input"] input {
  color: rgba(255,255,255,.6) !important;
}

table {
  @apply w-11/12;
}

tr:nth-of-type(2n) {
  @apply bg-altrow;
}

th {
  @apply pb-3;
}